<div class="container">
    <div class="box">
        <div class="title">SEVERITIES</div>
        <div class="data-container">
            <div class="doughnut-container">
                <canvas id="doughnut" class="chart chart-doughnut" chart-colors="colors" chart-data="data" chart-labels="labels" chart-options="options" >
                </canvas>    
            </div>
            <div ng-repeat="(key, data) in $ctrl.severities" class="item">  
                <div class="item">
                    <div class="text">{{key}}</div>
                    <div class="text" style="font-size: 14px;">{{data}}</div>
                </div>
           </div>    
        </div>
    </div>
</div> 